<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css">
    <title>Patients</title>
</head>
<body>
    <div class="p-3">
        <div class="card">
            <div class="card-header">
                Liste Patients
            </div>
            <div class="card-body">
                <form method="get" th:action="@{index}">
                    <label>Keyword : </label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <td>id</td><td>Nom</td><td>Date</td><td>Malade</td><td>Score</td>
                        </tr>
                        <tr th:each="p:${listPatients}">
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.getNom()}"></td>
                            <td th:text="${p.getDateNaissance()}"></td>
                            <td th:text="${p.isMalade()}"></td>
                            <td th:text="${p.getScore()}"></td>
                            <td>
                                <a onclick="javascript:return confirm('Etes vous sure?')"
                                   th:href="@{delete(id=${p.id} , page=${currentPage} , keyword=${keyword})}"
                                   class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </thead>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a class="btn btn-outline-info"
                           th:href="@{/index(page=${status.index} , keyword = ${keyword})}"
                           th:class="${currentPage==status.index?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                           th:text="${status.index + 1}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



</body>
</html>